/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-gold: #c59d5f;
  
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  
  /*
  =============== 
  Menu
  ===============
  */
  
  .menu {
    padding: 5rem 0;
  }
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--clr-gold);
    margin-left: auto;
    margin-right: auto;
  }
  .btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  .filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
  }
  .filter-btn:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
  }
  .section-center {
    width: 95vw; /* Aumenta el ancho de la sección */
    margin: 0 auto;
    max-width: 2000px; /* Incrementa el ancho máximo para más espacio */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 3rem;
    justify-content: center;
  }
  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    width: 46%;
    max-width: 30rem;
  }
  .photo {
    object-fit: cover;
    height: 350px; /* Incrementa la altura de las imágenes */
    width: 100%; /* Mantén el ancho al 100% para que la imagen ocupe todo el contenedor */
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
    display: block;
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
  }
  .item-info h4 {
    margin-bottom: 0.5rem;
  }
  .price {
    color: var(--clr-gold);
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 100%;
    }
    .photo {
      height: 175px;
    }
  }
  @media screen and (min-width: 1200px) {
    .section-center {
      max-width: 100%;
      grid-template-columns: 1fr 1fr;
    }
    .photo {
      height: 150px;
    }
  }

   /*
  =============== 
  Combos
  ===============
  */

  .card-footer {
    text-align: center;
    padding: 1rem;
  }
  
  .card-footer a {
    display: inline-flex; /* Para alinear ícono y texto */
    align-items: center; /* Alinear verticalmente */
    gap: 0.5rem; /* Espacio entre el ícono y el texto */
    text-decoration: none; /* Quitar subrayado */
    font-size: 1rem; /* Tamaño de texto */
    font-weight: 500; /* Peso del texto */
    color: #e0c056; /* Azul para el texto */
    padding: 0.5rem 1rem; /* Relleno interno */
    border: 2px solid #e6d059; /* Borde */
    border-radius: 0.5rem; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .card-footer a:hover {
    background-color: #f1574c; /* Fondo azul en hover */
    color: #fff; /* Texto blanco en hover */
    border-color: #800909; /* Cambiar el color del borde */
  }
  
  .card-footer a svg {
    font-size: 1.2rem; /* Ajustar tamaño del ícono */
    margin-right: 0.5rem; /* Espaciado a la derecha del ícono */
  }